service cloud.firestore {
  match /databases/{database}/documents {
    // Allow only authenticated content owners access to write
    // And only allow those with a matching uid in the doc to read
    match /searches/{documentId} {
      allow read, update, delete: if request.auth != null && resource.data.uid == request.auth.uid;
     	allow create: if request.auth != null && request.resource.data.uid == request.auth.uid;
    }
  }
}